In [31]:
# import libraries
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
# Load the data
df=pd.read_csv('loan.csv')
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

### Basic EDA

In [37]:
# Check the shape
print("Rows    : ", df.shape[0])
print("Columns : ", df.shape[1])

Rows    :  39717
Columns :  111

In [10]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

In [38]:
print("Columns")
print("-"*50)
for col in df.columns:
    print(col)

Columns
--------------------------------------------------
id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_il_6m
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit

### Check for missing values

In [43]:
print("Columns with Missing values")
print("-"*50)
i=1
for col in df.columns:
    if df[col].isna().sum() >0:
        print(f'{i}.{col} - {df[col].isna().sum()}')
        i+=1

Columns with Missing values
--------------------------------------------------
1.emp_title - 2459
2.emp_length - 1075
3.desc - 12940
4.title - 11
5.mths_since_last_delinq - 25682
6.mths_since_last_record - 36931
7.revol_util - 50
8.last_pymnt_d - 71
9.next_pymnt_d - 38577
10.last_credit_pull_d - 2
11.collections_12_mths_ex_med - 56
12.mths_since_last_major_derog - 39717
13.annual_inc_joint - 39717
14.dti_joint - 39717
15.verification_status_joint - 39717
16.tot_coll_amt - 39717
17.tot_cur_bal - 39717
18.open_acc_6m - 39717
19.open_il_6m - 39717
20.open_il_12m - 39717
21.open_il_24m - 39717
22.mths_since_rcnt_il - 39717
23.total_bal_il - 39717
24.il_util - 39717
25.open_rv_12m - 39717
26.open_rv_24m - 39717
27.max_bal_bc - 39717
28.all_util - 39717
29.total_rev_hi_lim - 39717
30.inq_fi - 39717
31.total_cu_tl - 39717
32.inq_last_12m - 39717
33.acc_open_past_24mths - 39717
34.avg_cur_bal - 39717
35.bc_open_to_buy - 39717
36.bc_util - 39717
37.chargeoff_within_12_mths - 56
38.mo_sin_old_il_acct - 39717
39.mo_sin_old_rev_tl_op - 39717
40.mo_sin_rcnt_rev_tl_op - 39717
41.mo_sin_rcnt_tl - 39717
42.mort_acc - 39717
43.mths_since_recent_bc - 39717
44.mths_since_recent_bc_dlq - 39717
45.mths_since_recent_inq - 39717
46.mths_since_recent_revol_delinq - 39717
47.num_accts_ever_120_pd - 39717
48.num_actv_bc_tl - 39717
49.num_actv_rev_tl - 39717
50.num_bc_sats - 39717
51.num_bc_tl - 39717
52.num_il_tl - 39717
53.num_op_rev_tl - 39717
54.num_rev_accts - 39717
55.num_rev_tl_bal_gt_0 - 39717
56.num_sats - 39717
57.num_tl_120dpd_2m - 39717
58.num_tl_30dpd - 39717
59.num_tl_90g_dpd_24m - 39717
60.num_tl_op_past_12m - 39717
61.pct_tl_nvr_dlq - 39717
62.percent_bc_gt_75 - 39717
63.pub_rec_bankruptcies - 697
64.tax_liens - 39
65.tot_hi_cred_lim - 39717
66.total_bal_ex_mort - 39717
67.total_bc_limit - 39717
68.total_il_high_credit_limit - 39717

In [45]:
df[df['emp_title'].isna()].head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
8,1071795,1306957,5600,5600,5600.0,60 months,21.28%,152.39,F,F2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
30,1032111,1261745,4375,4375,4375.0,36 months,7.51%,136.11,A,A3,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
42,1069314,1304202,3000,3000,3000.0,36 months,18.25%,108.84,D,D5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN